@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  /* Neutral */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--off-white);
}
a,
p {
  font-size: 15px;
}

#headline {
  display: grid;
  grid-template-columns: 66% 33%;
  gap: 48px;
}

#tall-headline {
  grid-column: 2;
  grid-row: 2;
}
/* ignore */
.attribution {
  /* bottom center */
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);

  padding: 5px;
  border-radius: 10px 10px 0 0;
  font-size: 11px;
  text-align: center;
  box-shadow: 0 0 10px 2px gray;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
