@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  /* Neutral */
  --off-white: hsl(36, 100%, 97%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--off-white);
}
a,
p {
  font-size: 15px;
}

/* navigation */

.nav-button {
  color: var(--dark-grayish-blue);
  transition: 0.2s;
}

.nav-button:hover {
  color: var(--soft-red);
}

/* main content */

#main-content {
  display: grid;
  grid-template-columns: 64% 33%;
  justify-content: space-between;
}

#read-more {
  @apply py-4 px-8 uppercase;
  background-color: var(--soft-red);
  color: white;
  font-weight: bold;
  letter-spacing: 6px;
  transition: background 0.2s;
}
#read-more:hover {
  background: black;
}

#side-news {
  color: var(--grayish-blue);
  background: var(--very-dark-blue);
}
#side-news h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--soft-orange);
}
#side-news a {
  color: white;
  font-size: 20px;
  font-weight: 800;
  transition: color 0.2s;
}

#side-news a:hover {
  color: var(--soft-orange);
}
#side-news hr {
  @apply my-6;
  outline-color: var(--dark-grayish-blue);
}

#bar-news-block {
  @apply grid grid-cols-2 flex-col gap-8;
  grid-template-columns: 25% 60%;
  height: 100px;
}
.news-bar {
  grid-template-columns: 25% 60%;
  gap: 24px;
}
.news-bar h1 {
  color: var(--grayish-blue);
  font-weight: 700;
  font-size: 32px;
}
.news-bar a {
  color: black;
  font-weight: 800;
  font-size: 18px;
  transition: color 0.2s;
}
.news-bar a:hover {
  color: var(--soft-red);
}

.news-bar p {
  color: var(--dark-grayish-blue);
}
/* centering */

.ctr-vert {
  display: flex;
  align-items: center;
}

.ctr-hort {
  display: grid;
  justify-content: center;
}

/* ignore */
.test-1 {
  outline: solid;
  outline-color: pink;
}
.test-2 {
  outline: solid;
  outline-color: aqua;
}
.test-3 {
  outline: solid;
  outline-color: yellowgreen;
}

.attribution {
  /* bottom center */
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);

  padding: 5px;
  border-radius: 10px 10px 0 0;
  font-size: 11px;
  text-align: center;
  box-shadow: 0 0 10px 2px gray;
  background-color: white;
}
.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}
